---
layout: default
title: Mapbox GL JS API
class: fill-light
options: full
---

<div class='docnav hide-mobile'>
  <div class='limiter'>
    <div class='col3 contain'>
      <nav class='scroll-styled quiet-scroll small'>
        <div class='space-bottom1'>
          <span class='block truncate quiet'>API</span>
        </div>
        <ul id='toc' class='list-reset h5 py1-ul'>
          <% docs.forEach(function(doc) { %>
            <% var hasMembers = doc.members.static.length || doc.members.instance.length %>
            <li class="<% if (doc.kind === 'note') { %>space-top1<% } %>"><a
              href='#<%=doc.namespace%>'
              class="<% if (doc.kind === 'note') { %>dark-link<% } %><% if (hasMembers) { %> toggle-sibling rcon caret-right tight-icon<% } %>">
              <%- doc.name %>
            </a>
            <% if (hasMembers) { %>
            <div class='toggle-target space-bottom1 hidden'>
              <% if (doc.members.static && doc.members.static.length) { %>
              <ul class='list-reset pad1x'>
                <li class='block small quiet truncate'>Static members</li>
                <% doc.members.static.forEach(function(member) { %>
                  <li><a
                    href='#<%=member.namespace%>'
                    class='block small truncate pre-open'>
                    .<%- member.name %>
                  </a></li>
                <% }) %>
                </ul>
              <% } %>
              <% if (doc.members.instance && doc.members.instance.length) { %>
                <ul class='list-reset pad1x'>
                  <li class='block small quiet truncate'>Instance members</li>
                  <% doc.members.instance.forEach(function(member) { %>
                  <li><a
                    href='#<%=member.namespace%>'
                    class='block small truncate pre-open'>
                    #<%- member.name %>
                  </a></li>
                  <% }) %>
                </ul>
              <% } %>
              <% if (doc.members.events && doc.members.events.length) { %>
                <ul class='list-reset pad1x'>
                  <li class='block small truncate quiet'>Events</li>
                  <% doc.members.events.forEach(function(member) { %>
                    <li><a
                      href='#<%=member.namespace%>'
                      class='block small truncate pre-open'>
                      ⓔ <%- member.name %>
                    </a></li>
                  <% }) %>
                </ul>
              <% } %>
            </div>
            <% } %>
            </li>
          <% }) %>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class='limiter clearfix'>
  <div class='pad2y'>
    <nav class='contain z10 margin3 col9 fill-gradient space-bottom round small'>
      <div class='col3 dark round-left keyline-right pad1 center truncate'>
        <div class='pad0y'>
          <span class='icon gl fill-lighten0 dot inline pad0'></span> Mapbox GL JS
        </div>
      </div>
      <div class='col9 dark tabs mobile-cols pad1'><!--
        --><a href='{{site.baseurl}}/api' class='col3 truncate{% if page.category == "api" %} active{% endif %}'>API</a><!--
        --><a href='{{site.url}}/mapbox-gl-style-spec' class='col3 truncate'>Style Reference</a><!--
        --><a href='{{site.baseurl}}/examples' class='col3 truncate{% if page.category == "example" %} active{% endif %}'>Examples</a><!--
        --><a href='{{site.baseurl}}/plugins' class='col3 truncate{% if page.url contains "plugins" %} active{% endif %}'>Plugins</a>
      </div>
    </nav>
  </div>




  <div class='contain margin3 col9'>

<div class='round doc clip space-bottom4 fill-white'>

  <section class='pad4 contain'>

    <div class='pin-topright pad2'>
        <a class='icon github short button quiet' href="https://github.com/mapbox/mapbox-gl-js">Project on GitHub</a>
    </div>

    <h1 class='space-bottom1'>
      Mapbox GL JS
    </h1>

     <div class='quiet small space-bottom2'>Version: mapbox-gl.js {{site.version}}</div>

    <div class='prose space-bottom2'>
      <p>Mapbox GL JS is a JavaScript library that uses WebGL to render interactive maps from <a href='{{site.url}}/help/define-vector-tiles'>vector tiles</a> and <a href='{{site.url}}/mapbox-gl-style-spec'>Mapbox GL styles</a>.
      It is part of the <a href='https://github.com/mapbox/mapbox-gl'>Mapbox GL ecosystem</a> which includes <a href='{{site.url}}/mobile/'>Mapbox Mobile</a>, a compatible renderer written in C++ with bindings for desktop and mobile platforms.</p>

      <p>To get started, include the JavaScript and CSS files in the <code>&lt;head&gt;</code> of your HTML file.</p>
<div class='contain ' id='head-code'>
      {% highlight html %}
      <div class='pad2' >
<script src='{{site.tileApi}}/mapbox-gl-js/{{site.version}}/mapbox-gl.js'></script>
<link href='{{site.tileApi}}/mapbox-gl-js/{{site.version}}/mapbox-gl.css' rel='stylesheet' />
</div>{% endhighlight html %}
  <a class='icon clipboard pin-bottom space-bottom1 text-right quiet js-clipboard space-right1' href='#' data-clipboard-target='head-code'></a>
  </div>

      <p>Then include this code in the <code>&lt;body&gt;</code> of your HTML file to initialize a map on the page.</p>
      <div class='js-replace-token contain' id='body-code'>
{% capture getting_started_html %}
<div id='map' style='width: 400px; height: 300px;'></div>
<script>
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v8'
});
</script>

{% endcapture %}
      <a class='quiet pin-bottom space-right1 text-right icon clipboard js-clipboard space-bottom1' href='#' data-clipboard-target='body-code'></a>

      {% highlight html %}{{ getting_started_html | insert_token }}{% endhighlight %}
    </div>
    </div>
    <p>Resources:</p>
    <div class='space-bottom1 space-top2'><a href='https://www.mapbox.com/gallery/'>Gallery: </a>Interactive projects made with mapbox-gl-js.</div>
    <div class='space-bottom1 prose'><a href='https://www.mapbox.com/help/#mapbox-gl-js'>Guides: </a>Understand the fundamentals and learn how to create interactive maps with custom data and Mapbox styles.</div>
  </section>
</div>

    <div class='round doc clip space-bottom'>
      <% docs.forEach(function(s) { %>
        <% if (s.kind !== 'note') { %>
          <%=renderSection({
	    section: s,
	    renderSection: renderSection,
	    renderSectionList: renderSectionList
	  })%>
        <% } else { %>
          <div class='keyline-top-not py2'><%=renderNote({ note: s })%></div>
        <% } %>
      <% }) %>
    </div>
  </div>
</div>

<link href='{{site.url}}/css/docs.css' rel='stylesheet' />
<link href='{{site.baseurl}}/site.css' rel='stylesheet' />
<script src='{{site.baseurl}}/js/site.js'></script>
<script src='{{site.baseurl}}/api/assets/anchor.js'></script>
<script src='{{site.baseurl}}/api/assets/site.js'></script>
